.body {
    margin: 0px;
}

.header {
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-btn {
    padding: 0px;
    margin-left: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 2.4px;
    color: #212121;
}

.header-btn:hover {
    color: #F8FF44;
    transform: scale(1.15);
}

.my-section {
    width: 90%;
    margin: 0px auto;
    padding: 100px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-title {
    margin: 0px 89px 0px 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 48px;
    color: #212121;
}

.my-title-info {
    margin: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #9FA3A7;
}

.yellow {
    background: #F8FF44;
    width: 40%;
}

.content-section > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    cursor: pointer;
}

.content-section > div:hover {
    background: #FFC80A;
    border-radius: 8px;
    transform: scale(1.1);
}

.content-section {
    width: 90%;
    margin: 0px auto;
    padding: 50px 0px 150px 0px;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    row-gap: 4%;
    column-gap: 2%;
}

.content-section > div > img {
    width: 75%;
}

.item-info {
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #9FA3A7;
}

.item-name {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    color: #212121;
}
